<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddemo">

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取访问手机振动器权限，用于导航过程中的震动提示 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 获取摄像头权限，用于AR步行导航 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 获取允许应用程序更改Wi-Fi连接状态的权限，用于室内步行导航wifi定位,如果不需要室内步行导航功能则该权限无需申请 -->
    <uses-permission android:name="android.Manifest.permission.CHANGE_WIFI_STATE" /> <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".baidu_map.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".animation.PropertyAnimActivity"></activity>
        <activity android:name=".animation.DrawableAnimActivity" />
        <activity android:name=".animation.ViewAnimActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".baidu_map.GoOnActivity" />
        <activity android:name=".baidu_map.BaiduDemoActivity" />
        <activity android:name=".baidu_map.WalkOnActivity" />
        <activity android:name=".baidu_map.BaiduRouteActivity" />
        <activity android:name=".baidu_map.POIActivity" />
        <activity android:name=".baidu_map.MessageActivity" />
        <activity android:name=".baidu_map.ShowBaiduMap" />
        <activity android:name=".BaiduMap" />
        <activity android:name=".ToolBarActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".baidu_map.WNaviGuideActivity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MessageActivity" />
        <activity android:name=".OKHttpActivity" />
        <activity android:name=".HttpActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".BroadcastReceiverActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".tools.TitleLayout" />
        <activity
            android:name=".DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".NormalActivity" />
        <activity android:name=".ActivityLife" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="com.example.androiddemo.ACTION_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".getui.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <!-- permission属性在2.13.1.0版本后必须配置 -->
        <service
            android:name=".getui.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sGsdms2NAuCvmauFWhcq6j5b70yVO55M" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>